header {
  width: 100%;
  height: 600px;
  background-color: #E1F0FE;
  background-image: url('../images/pets-banner.png');
  background-size: contain;
  background-repeat: no-repeat;   
  background-position: bottom;
  border-color: white;
}

section {
  display: flex;
  height: 300px;
  text-align: center;
  /* background-image: url('../images/birds-banner.png');
  background-size: contain;
  background-repeat: no-repeat;   
  background-position: bottom; */
}
section div:first-child {
  width: 70%;

}
section div:nth-child(2) {
  width: 30%;
}

section h1 {
  font-size: 40px;
  color: #EF5E5E;
}

section img {
  width: 100%;
}

footer {
  display: flex;
  height: 60px;
  background-color: #E1F0FE;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.slider {
  width: 200px;
  height: 100px;
  padding-left: 15px;
  overflow: visible;
  position: relative;
}

.mask {
  width: 100%;
  overflow: hidden;
  height: 75px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  position: absolute;
  list-style: none;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -100px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -100px;
    opacity: 0;
  }
  16% {
    top: -100px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -100px;
    opacity: 0;
  }
  36% {
    top: -100px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -100px;
    opacity: 0;
  }
  56% {
    top: -100px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -100px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -100px;
    opacity: 0;
  }
  76% {
    top: -100px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 100px;
    opacity: 0;
    z-index: 0;
  }
}

.HomeNav {
  display: flex;
  padding: 30px 40px;
}

.HomeNav .LeftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* padding-left: 40px; */
}

.HomeNav .LeftSide .Logo {
  width: 200px;
}

.HomeNav .RightSide {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  /* padding-right: 40px; */
}

.HomeNav .RightSide #hidden {
  display: flex;
}

.HomeNav .RightSide .NavLinks .NavLink {
  text-decoration: none;
  color: #EF5E5E; 
  font-size: 1.2em;
  margin-left: 30px; 
} 

.HomeNav .RightSide .HamButton {
  display: none;
}

.Intro {
  padding: 40px;
}

.IntroDescription {
  display: flex;
  flex-direction: row;
}

.Intro h1 {
  font-size: 65px;
  color: #EF5E5E;
  /* text-align: center; */
  margin: 0px;
}

@media (max-width: 1000px) {
  .IntroDescription {
    display: flex;
    flex-direction: column;
  }
  .slider {
    padding-left: 0;
  }

}

@media (max-width: 600px) { /*Any screen less than max-width*/
  header {
    height: 500px;
  }
  
  .HomeNav {
    display: flex;
    padding: 20px;
  }
  
  .HomeNav .LeftSide .Logo {
    width: 120px;
  }

  .HomeNav .RightSide .NavLinks {
    display: none;
  }

  .HomeNav .RightSide .HamButton {
    display: flex;
    border: none;
    height: 20px;
    background-color: transparent;
    padding: 0;
  }

  .HomeNav .RightSide #hidden {
    position: absolute;
    right: 0px;
    top: 60px;
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HomeNav .RightSide #hidden .NavLink {
    margin: 10px;
  }

  .HomeNav .Hamburger {
    color: #EF5E5E;
    font-size: 1.5em;
  }

  .Intro {
    padding: 20px;
  }

  .IntroDescription {
    display: flex;
    flex-direction: column;
  }

  .Intro h1 {
    font-size: 40px;
    color: #EF5E5E;
    /* text-align: center; */
    margin: 0px;
  } 

  .slider {
    height: 70px;
  }

  .mask {
    height: 60px;
  }

}