.Navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 40px;
    background-color: #E1F0FE;
}

.Logo {
    width: 200px;
}

.LoggedOutNav {
    display: flex;
    list-style: none;
    padding: 0px;
    font-size: 1.1em;
}

.NavItem {
    padding: 0 0 0 30px; 
}

.Navlink {
    text-decoration: none;  
}
