.Search {
    height: 45px;
    font-size: 20px;

}

input:focus {
    outline: none;
}

.ClinicInput {
    width: 225px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    border-right: 1px solid lightgray;  
}

.LocationInput {
    width: 225px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

/* button {
    height: 100%;
    width: 45px;
    background-color: #EF5E5E;
    border: none;
}

button:hover {
    background-color: #E34C4C;
} fa */

.SearchButton {
    height: 100%;
    background-color: #EF5E5E;
    color: white;
    border: none;
    /* font-size: 20px; for fa size*/
}

.SearchButton:hover {
    background-color: #E34C4C;
}



