.Search {
    display: flex;
    height: 45px;
    font-size: 20px;
}

.Search input:focus {
    outline: none;
}

.Search .ClinicInput {
    width: 100%;
    /* height: 100%; */
    border: none;
    outline: none;
    font-size: 15px;
    border-right: 1px solid lightgray;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Search .LocationInput {
    width: 100%;
    /* height: 100%; */
    border: none;
    outline: none;
    font-size: 15px;
}

/* button {
    height: 100%;
    width: 45px;
    background-color: #EF5E5E;
    border: none;
}

button:hover {
    background-color: #E34C4C;
} fa */

.Search .SearchButton {
    /* height: 100%; */
    background-color: #EF5E5E;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* font-size: 20px; for fa size*/
}

.Search .SearchButton:hover {
    background-color: #E34C4C;
}

@media (max-width: 600px) {
    .Search .ClinicInput {
        border-right: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}


